/**
 * @name Discord Desktop Refresh Fixer
 * @description [Buggy BETA] A work-in-progress theme aiming to fix and roll back the worst parts of Discord’s new Desktop Visual Refresh mess.
 * @version 0.0.5
 * @author SkyeTheDoggy
 * @authorId 679270448931930145
 * @website https://github.com/SkyeTheDoggy/Discord-Desktop-Refresh-Fixer
 */

/* Credits: https://github.com/scattagain */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

:root {
    /* Only include this part if you wish to change these variables */
    /* You can change the size but only to be less than 48px, you must change the blob scale too */
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}
/* -------------------------- */

/* Credits: http://discord.gg/vencord | https://discord.com/channels/1015060230222131221/1028106818368589824/1354458308714696816 */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}
/* -------------------------- */

/* Automatically removes Discord's built-in title bar on systems with forced native title bar */
body:not(:has(.winButtons_c38106)) {
    .bar_c38106, .bar_c38106 * ,.title_c38106, .title_c38106 * {
        overflow: hidden !important;
        height: 0 !important;
    }

    .base_c48ade {
        margin-top: -37px;
    }
}
/* -------------------------- */

.panels_c48ade {
    max-width: calc(100% - 73px);
    margin-left: 65px;
    margin-bottom: -8px;
    border: none !important;
    border-radius: 0 !important;
}

.searchBar__35e86 {
    margin-top: 1px;
}

.listItemWrapper__91816 {
    margin-top: 8px;
}

.pill__1f388 {
    margin-top: 4px;
}

.sidebarListRounded_c48ade {
    border-radius: 0 !important;
    border-top: none !important;
}

.guilds_c48ade {
    height: 100%;
}

.scroller__99e7c {
    margin-bottom: 56px !important;
}

.scroller__629e4 {
    margin-bottom: 0px !important;
}

.header_f37cb1 {
    margin-top: 1px !important;
}

.sidebar_c48ade::after {
    display: none;
}
